Repository dropwizard/dropwizard, pull requests merged in 2022-10, with the labels that each got.

#5940 Skip Sonar execution on Windows runners
  .github/workflows/maven.yml
Labels: github_actions

#5939 Remove the Jadira Usertype Core library
  docs/source/manual/upgrade-notes/upgrade-notes-3_0_x.rst
  dropwizard-dependencies/pom.xml
  dropwizard-hibernate/pom.xml
  dropwizard-hibernate/src/main/java/io/dropwizard/hibernate/SessionFactoryFactory.java
  dropwizard-testing/src/main/java/io/dropwizard/testing/common/DAOTest.java
Labels: task, dependencies

#6041 Add manual workflow to trigger a release
  .github/workflows/trigger-release.yml
Labels: improvement, github_actions
