Repository dropwizard/dropwizard, pull requests merged in 2024-02, with the labels that each got.

#8315 Assign milestone 3.0.x
  .github/workflows/assign-milestone.yml
Labels: improvement, github_actions

#8317 Automatically assign milestone on PR creation
  .github/workflows/assign-milestone.yml
Labels: improvement, github_actions

#8318 Automatically assign milestone on PR creation
  .github/workflows/assign-milestone.yml
Labels: improvement, github_actions

#8331 Let Renovate assign labels for PRs
  renovate.json
Labels: improvement, dependencies

#8366 Update qodana Github action to 2023.3.1
  .github/workflows/qodana.yml
Labels: dependencies, github_actions

#8367 chore(deps): update JetBrains/qodana-action to v2023.3.1
  .github/workflows/qodana.yml
Labels: dependencies, github_actions

#8368 chore(deps): update JetBrains/qodana-action to v2023.3.1
  .github/workflows/qodana.yml
Labels: dependencies, github_actions

#8360 Use Java 17's pattern matching to reduce the number of casts
  dropwizard-auth/src/main/java/io/dropwizard/auth/AuthInjectionHelper.java
  dropwizard-auth/src/main/java/io/dropwizard/auth/CachingAuthenticator.java
  dropwizard-auth/src/main/java/io/dropwizard/auth/CachingAuthorizer.java
  dropwizard-configuration/src/main/java/io/dropwizard/configuration/BaseConfigurationFactory.java
  dropwizard-core/src/main/java/io/dropwizard/core/validation/InjectValidatorFeature.java
  dropwizard-health/src/main/java/io/dropwizard/health/HealthStateView.java
  dropwizard-health/src/main/java/io/dropwizard/health/Schedule.java
  dropwizard-health/src/main/java/io/dropwizard/health/ScheduledHealthCheck.java
  dropwizard-health/src/main/java/io/dropwizard/health/State.java
  dropwizard-health/src/main/java/io/dropwizard/health/check/http/HttpHealthResponse.java
  dropwizard-hibernate/src/main/java/io/dropwizard/hibernate/HibernateBundle.java
  dropwizard-hibernate/src/main/java/io/dropwizard/hibernate/UnitOfWorkAspect.java
  dropwizard-jdbi3/src/main/java/io/dropwizard/jdbi3/jersey/LoggingJdbiExceptionMapper.java
  dropwizard-jersey/src/main/java/io/dropwizard/jersey/DropwizardResourceConfig.java
  dropwizard-jersey/src/main/java/io/dropwizard/jersey/errors/LoggingExceptionMapper.java
  dropwizard-jersey/src/main/java/io/dropwizard/jersey/optional/OptionalMessageBodyWriter.java
  dropwizard-jersey/src/main/java/io/dropwizard/jersey/params/AbstractParamConverter.java
  dropwizard-jersey/src/main/java/io/dropwizard/jersey/validation/FuzzyEnumParamConverter.java
  dropwizard-jersey/src/main/java/io/dropwizard/jersey/validation/JerseyParameterNameProvider.java
  dropwizard-jetty/src/main/java/io/dropwizard/jetty/HttpsConnectorFactory.java
  dropwizard-lifecycle/src/main/java/io/dropwizard/lifecycle/setup/LifecycleEnvironment.java
  dropwizard-logging/src/main/java/io/dropwizard/logging/common/AbstractAppenderFactory.java
  dropwizard-logging/src/main/java/io/dropwizard/logging/common/DefaultLoggingFactory.java
  dropwizard-logging/src/main/java/io/dropwizard/logging/common/LoggingUtil.java
  dropwizard-servlets/src/main/java/io/dropwizard/servlets/CacheBustingFilter.java
  dropwizard-servlets/src/main/java/io/dropwizard/servlets/tasks/TaskServlet.java
  dropwizard-testing/src/main/java/io/dropwizard/testing/common/DAOTest.java
  dropwizard-testing/src/main/java/io/dropwizard/testing/common/DropwizardClient.java
  dropwizard-util/src/main/java/io/dropwizard/util/Generics.java
Labels: task

#8364 Avoid autoboxing in dropwizard-servlets ByteRange
  dropwizard-servlets/src/main/java/io/dropwizard/servlets/assets/ByteRange.java
Labels: task

#8408 Avoid autoboxing in dropwizard-servlets ByteRange
  dropwizard-servlets/src/main/java/io/dropwizard/servlets/assets/ByteRange.java
Labels: task

#8409 Avoid autoboxing in dropwizard-servlets ByteRange
  dropwizard-servlets/src/main/java/io/dropwizard/servlets/assets/ByteRange.java
Labels: task
