Repository dropwizard/dropwizard, pull requests merged in 2024-10, with the labels that each got.

#9342 Use platform threads instead of virtual threads for thread pools
  dropwizard-core/src/main/java/io/dropwizard/core/server/AbstractServerFactory.java
  dropwizard-core/src/main/java/io/dropwizard/core/server/DefaultServerFactory.java
  dropwizard-core/src/test/java/io/dropwizard/core/VirtualThreadsTest.java
Labels: improvement

#9464 ci: sync Renovate config with dropwizard/renovate-config
  .github/workflows/maven.yml
  renovate.json
Labels: dependencies

#9522 Revert "fix(deps): update dependency com.fasterxml.jackson:jackson-bom to v2.18.0 (release/5.0.x)"
  dropwizard-dependencies/pom.xml
  dropwizard-e2e/pom.xml
  dropwizard-e2e/src/main/java/com/example/app1/CustomJsonProvider.java
Labels: bug, dependencies, java

#9521 Revert "fix(deps): update dependency com.fasterxml.jackson:jackson-bom to v2.18.0 (release/4.0.x)"
  dropwizard-dependencies/pom.xml
  dropwizard-e2e/pom.xml
  dropwizard-e2e/src/main/java/com/example/app1/CustomJsonProvider.java
Labels: bug, dependencies, java
